.swiper {
  @apply bg-[#111];
  cursor: grab;
}
.swiper-initialized{
  @apply md:!pb-[3vw] sm:!pb-[36px] !pb-[5.2vw]; 
}
.slider-item-one{
  @apply items-center ;
  display: flex !important ;
  padding: 0 15%;
  .item-column{
    @apply w-3/6;
  }
  .name{
    @apply text-[3rem] py-3 font-medium text-[beige];
  }
  .text-one{
    @apply font-medium text-[beige];
  }
  .text-two{
    @apply text-[#48cf80] pb-3;
  }
  p.text-three{
    @apply leading-[1.4] text-sm text-[beige];
  }
  .btn{
    @apply bg-[#48cf80] text-[beige] rounded-[99px] px-9 py-4 mt-5 text-[1.05rem] transition duration-300;
    box-shadow: 0 0px 10px #48cf80;
  }
  .btn:hover{
    box-shadow: 0 0px 13px #48cf80;
  }
  .item-column:nth-child(2){
    @apply pt-16;
  }
  .item-column:nth-child(2)::before{
      @apply w-[85.8%] h-[30vw] bg-[#48cf80] rounded-[99%] block mb-[-33vw] mx-auto;
      content: "";
  }
  .achievement-row{
    @apply flex justify-around;
  }
  .count-item{
    @apply bg-[#121121] border-solid md:border-[2px] border-[1px] border-[#48cf80] w-[45%] py-4 rounded-[2vw];
  }
  .count-item > p{
    @apply flex flex-col items-start w-3/6 gap-y-1;
  }
}
.swiper-pagination-bullet.swiper-pagination-bullet-active{
  background-color: #48cf8069 !important;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active:after{
    @apply md:h-[4px] sm:h-[2px] h-[2px];
    content: '';
    position: absolute;
    animation: load3 5000ms normal forwards ease-in-out;
    width: 0%;
    background: #48cf80;
    display: block;
}
@keyframes load3 {
  from {width: 0%;}
  to {width: 5%;}
}
span.swiper-pagination-bullet{
  @apply md:h-[4px] sm:h-[2px] h-[4px];
  background-color: #ececec !important;
  width: 5%;
  border-radius: 0 !important;
}
.slider-item-two{
  display: flex !important ;
  justify-content: space-around !important;
}

.leftgrid{
  @apply flex flex-col gap-10 text-[beige] font-normal justify-center; 
  font-family: "Poppins", sans-serif;
}
.rightgrid{
  @apply text-[beige] flex flex-col items-start justify-around; 
  font-family: "Poppins", sans-serif;
}

.review h1{
  @apply text-[1.4rem] border-solid border-b-[0.2vw] border-[beige] w-fit pb-2;
}
.detail-review{
  @apply text-lg pr-10 pt-3 leading-[1.15]; 
}
.stats h1{
  @apply text-[2rem] font-bold overflow-hidden;
  > span.text-animation {
    @apply relative;
    animation: text-animation 0.8s ease-out forwards; 
    transition: 0.3s;
  }
}
.stats > div > p{
  @apply text-[1.3rem] pb-2 pt-1 overflow-hidden;
  > span.text-animation {
    @apply relative;
    animation: text-animation 0.6s ease-out forwards; 
    transition: 0.3s;
  }
}
@keyframes text-animation {
  0% {
    top: 30px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
.review {
  h1 > span.text-animation {
    @apply relative;
    animation: text-animation2 0.7s ease-out forwards; 
    transition: 0.3s;
  }
  p.detail-review > span.text-animation{
    @apply relative;
    animation: text-animation2 0.7s ease-out forwards; 
    transition: 0.3s;
  }
}

@keyframes text-animation2 {
  0% {
    top: 30px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
.s1, .s2, .s3 {
  @apply border-solid border-b-[.2vw] border-[beige] w-fit mb-6;
}
.para{
  @apply text-lg pr-10 pt-3 leading-[1.15]; 
    span.text-animation{
    @apply relative;
    animation: text-animation2 0.7s ease-out forwards; 
    transition: 0.3s;
  }
}
.star{
  @apply w-[5.55rem] rotate-[20deg] border-[0.2vw] border-[var(--neon)] p-[0.8vw] rounded-[50px] brightness-0 invert;
  animation: star-pic 3s infinite linear;
  transition: .3s;
}
.star:hover{
  cursor: pointer;
}
@keyframes star-pic {
  0% {
    transform: rotate(20deg);
  }
  50% {
    transform: rotate(200deg);
  }
  100% {
    transform: rotate(380deg);
  }
}
.star.hovered{
  animation-play-state: paused;
}
.pic-profile{
  @apply relative z-10 max-h-[40vw] w-auto h-auto object-contain z-[1];
}
.base {
    position: absolute;
    font-size: 7rem;
    font-weight: 900;
    z-index: 0;
    text-align: center;
    line-height: 0.9;
    color: beige;
    text-transform: uppercase;
    padding-top: 7rem;
}
.topper{
    padding-top: 7rem;
    position: absolute;
    z-index: 2;
    font-size: 7rem;
    font-weight: 900;
    text-align: center;
    color: transparent;
    -webkit-text-stroke: .2vw beige;
    line-height: 0.9;
    text-transform: uppercase;
}
.mid-grid::before{
      @apply block mx-auto mb-[-33vw] w-[30vw] h-[30vw] rounded-[99%] bg-[#48cf80] absolute top-[8vw] content-[''];
      content: "";
}
.index-module_type__E-SaG::after{
    top: -4px;
    position: relative;
}
.stats-mobile,.detail-review-mobile{
  display: none;
}

@media only screen and (max-width: 576px) {
  .slider-item-one{
    @apply flex-col-reverse !h-[168vw];
    padding: 0 8%;
      .item-column{
        @apply w-full;
      }
      .item-column:nth-child(2)::before {
        @apply mb-[-62vw] h-[76vw] w-[76vw];
      }
      .item-column:nth-child(1){
        @apply pt-20;
      }
      .text-one{
        @apply text-[3rem];
      }
      .name{
        @apply text-[5rem] py-5 h-[9vw];
      }
      p.text-two{
        @apply text-[3rem] pb-5;
      }
      p.text-three{
        @apply text-[2.5rem];
      }
      .btn{
        @apply text-[3rem] px-[3.6rem] py-[2.5rem] mt-12; 
      }
      .achievement-row{
       .num-banner1{
          @apply text-[5rem]
        }
        .description-num{
          @apply text-[2.8rem] leading-[1.2] mt-2;
        }
      } 
  }
  .swiper-initialized{
      padding-bottom: 10vw !important;
  }
  span.swiper-pagination-bullet{
    width: 9%;
  }

  .slider-item-two{
    @apply flex-col !h-[168vw];
    padding: 0 8%;
    .leftgrid{
      display: none;
    } 
    .para{
      @apply text-[4rem] w-full pr-0 pt-10;
    }
    .item-column:nth-child(2){
      @apply pt-[4rem];
    }
    .item-column{
      @apply w-full;
    }
    .pic-profile{
      @apply max-h-[99vw];
    }
    .topper,.base{
      font-size: 15rem;
    }
    .mid-grid::before{
      height: 65vw;
      width: 65vw;
      margin-top: 17vw;
    }
    .star {
      position: absolute;
      right: 7vw;
      top: 7vw;
      width: 13vw;
      padding: 7px;
    }
    .s1, .s2, .s3{
      @apply text-[4rem] pb-5 border-b-[.7vw];
      h1{
        padding-bottom: 5px;
        font-size: 5.5rem;
      }
    }
    .stats-mobile{
      display: flex !important;
      gap: 14px;
      margin-top: -16vw;
    }
  }
}