.about-section-page{
    @apply bg-[#111] text-white text-center;
}
.about-section-page > .section-template > .row{
    @apply  grid grid-cols-2 w-[76%] mx-auto items-center;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: row wrap;
}
.overlay{
    @apply 
    absolute
    w-[28vw]
    h-[29vw]
    bg-[#48cf808c]
    rounded-[99%]
    shadow-[0_0_20px_10px_#48cf808c]
    filter
    blur-[30px]
    top-[13vw]
    z-0
    mx-auto;
}
.left{
    position: absolute;
    z-index: 2;
    font-size: 13vw;
    font-weight: 900;
    color: transparent;
    -webkit-text-stroke: .2vw beige !important;
    text-transform: uppercase;
    margin-left: -34%;
}
.right{
    position: absolute;
    z-index: 2;
    font-size: 11rem;
    font-weight: 900;
    color: transparent;
    -webkit-text-stroke: .2vw beige !important;
    text-transform: uppercase;
    margin-left: 63%;
    bottom: 0;
}
.hello{
    @apply text-[3rem] py-3 font-bold text-[beige] text-left;
}
.my-name{
    @apply text-[2.2rem] py-4 pl-10 font-normal text-[beige] text-left;
}

.jobtype{
    @apply text-[3rem] py-3 font-bold text-[beige] text-left;
}
.btn{
    @apply bg-[#48cf80] text-[beige] rounded-[99px] px-9 py-4 mt-5 sm:text-[1.3rem] text-[2rem] transition duration-300;
    box-shadow: 0 0px 10px #48cf80;
}
.btn:hover{
    box-shadow: 0 0px 13px #48cf80;
}
.my-name::before {
    content: '';
    background: #47cb7e;
    position: absolute;
    width: 17%;
    height: 0.2vw;
    left: -12vw;
    margin-top: 1vw;
}

/* tab */
ul.react-tabs__tab-list{
    border-bottom: none;
}
li.react-tabs__tab{
    @apply text-[1.4rem] rounded-[99px] px-4 py-3 bg-[#48cf80] text-[beige] ml-[1%] opacity-75 ;
    box-shadow: 0 0px 12px #48cf80;
    transition: .3s;
    border: none;
}
li.react-tabs__tab:hover{
    @apply opacity-100;
}
li.react-tabs__tab--selected{
    @apply opacity-100;
}
li.react-tabs__tab::before,li.react-tabs__tab::after{
    display: none;
}
@media only screen and (min-width: 576px) and (max-width: 1024px) {
    li.react-tabs__tab{
        @apply text-[2.2rem] px-6 py-4 ml-[2%];
    }
}
@media only screen and (max-width: 576px) {
    li.react-tabs__tab{
        @apply text-[3rem] px-8 py-5 ml-[2%];
    }
}