.header-wrapper{
  @apply w-full z-30 relative flex justify-between px-52 py-5 bg-[#111] items-center;
  flex-flow: row nowrap;
}
.header-nav{
  @apply flex justify-end relative w-full mr-3;
  flex-flow: row nowrap;
}
.nav-item{
  @apply text-base mx-6 no-underline relative delay-75 py-1.5 text-[beige];
}
.nav-item:last-child{
  @apply bg-[#48cf80] text-[beige] rounded-[99px] px-4 py-1.5 transition duration-300;
  box-shadow: 0 0px 10px #48cf80;
}
.nav-item:last-child:hover{
  box-shadow: 0 0px 13px #48cf80;
}
.nav-item:last-child::before{
  display: none;
}
.nav-item::before {
  @apply absolute w-0 h-0.5 bottom-0 left-1/2 bg-[#A6A6A6] transition-all duration-300;
  content: "";
}
a:hover::before {
  @apply w-full left-0;
}

a:has(.facebok),a:has(.line),a:has(.instagram){
  box-shadow: 0 0px 12px #48cf80;
}
.nav-contact{
  @apply  w-auto ;
  display: -webkit-box;
}
.logo-img{
  @apply w-9 mx-2 transition-all duration-300 ;
  filter: brightness(0) saturate(100%) invert(97%) sepia(3%) saturate(1442%) hue-rotate(348deg) brightness(105%) contrast(92%);
}

.logo{
  @apply w-5/6;
   > h1 {
      @apply text-[#f5f5dc] text-[1.55rem];
  }
}
.logo-container{
  @apply flex w-[30%] items-center h-full;
}


.bm-burger-button span{
  @apply bg-white
}
.bm-burger-button .bm-burger-bars:nth-child(1) {
    height: 3px !important;
    width: 30px !important;
    right: 20px !important;
    left: unset !important;
    top: 30% !important;
    opacity: 1 !important;
    border-radius: 10px !important;
}
.bm-burger-button .bm-burger-bars:nth-child(2) {
    height: 3px !important;
    width: 30px !important;
    right: 20px !important;
    left: unset !important;
    top: 45% !important;
    opacity: 1 !important;
    border-radius: 10px !important;
}
.bm-burger-button .bm-burger-bars:nth-child(3) {
    height: 3px !important;
    width: 30px !important;
    right: 20px !important;
    left: unset !important;
    top: 60% !important;
    opacity: 1 !important;
    border-radius: 10px !important;
}
.bm-cross-menu {
    position: relative;
    right: 10px;
    top: 8px;
    width: 77% !important;
    height: 77% !important;
    filter: brightness(0) invert(1);
}
.bm-burger-button {
    width: 66px;
    position: absolute;
    height: 66px;
    top: 0;
    right: 0;
}

@media only screen and (min-width: 1024px) {
  div:has(>.bm-burger-button) {
      display: none;
  }
}
@media only screen and (max-width: 1024px) {
  .header-wrapper{
    @apply px-10 py-0 h-[66px];
  }
  .slider-item-one{
    @apply px-14 ;
  }
  .logo-container{
    @apply w-[50%];
  }
  .logo-img{
    @apply w-14;
  }
  nav.header-nav{
    @apply hidden;
  }
  .logo{
    > h1 {
        @apply text-[3.5rem] leading-[0.7];
    }
  }
  .logo-img{
    @apply w-[5.4rem];
    margin-right: 8px;
    margin-top: -3px;
  }
}

@media only screen and (max-width: 576px) {
    .logo{
      > h1 {
          @apply text-[7rem] leading-[0.7];
      }
    }
    .logo-img{
      @apply w-36;
      margin-right: 8px;
      margin-top: -3px;
    }
}