.projectCard-section{
    @apply sm:py-12 py-52 bg-[#111] px-6 text-center;
}
.des-project{
    @apply text-base text-left text-[beige];
}
.project-card{
    a{
    @apply flex flex-col; 
    }
    img{
        @apply h-[15vw] object-cover object-[center_0px] rounded-xl md:h-[18vw] sm:h-[15vw] xl:h-[9vw];
    }
    .title-project{
        @apply text-2xl font-semibold pt-5 pb-3 text-left text-[beige];
    }
} 
.wordpress-tab img{
    @apply xl:h-[12vw];
}
.button-add{
    @apply bg-[#48cf80] text-[beige] ml-3 rounded-[99px] px-6 py-3 transition duration-300;
    box-shadow: 0 0px 10px #48cf80;
}
.button-add:hover{
  box-shadow: 0 0px 13px #48cf80;
}

@media only screen and (min-width: 576px) and (max-width: 1024px) {
    .project-grid{
        @apply w-[90%] mb-14;
    }
    .project-card{
        img {
            height: 17vw;
        }
        .title-project {
            @apply text-[2rem]
        }
        .des-project{
            @apply text-[1.4rem] leading-[1.3]
        }
    }
    .wordpress-tab .project-card img{
        height: 24vw !important;
    }
    div.single-project-page:has(.Wordpress) {
        height: 95% !important;
    }
}

@media only screen and (max-width: 576px) {
    .about-section-page .projectCard-section{
        padding-top: 7%;
    }
    .bg-space{
        height: 3.3vw !important;
    }
    .project-grid{
        @apply w-[90%] 
    }
    .project-card{
        img {
            height: 37vw;
        }
        .title-project {
            @apply text-[3.2rem] pb-7 pt-12
        }
        .des-project{
            @apply text-[2.5rem] leading-[1.3]
        }
    }
    .wordpress-tab .project-card img{
        height: 50vw !important;
        border-radius: 6px !important;
    }
    .paginatoin-project {
        font-size: 3rem !important;
        gap: 2.8rem !important;
    }
    div.single-project-page:has(.Wordpress) {
        height: 85% !important;
    }
}

/* pagination */
.paginatoin-project{
    @apply flex gap-4 justify-center mt-20;
}
button.total-number.is-selected{
    color: #48cf80;
}
@media only screen and (max-width: 1024px) {
    .paginatoin-project{
        font-size: 2rem;
        gap: 1.5rem;
    }
}