.single-project-page{
    @apply bg-[#111] text-white text-center h-[83%];
}
.single-project-content{
    @apply  flex items-center flex-col justify-start py-20 mx-auto  ;
}
.project-title{
    @apply text-[3rem] pb-9 text-white leading-[1.15];
}
.single-project-content > .row{
    @apply bg-[#262626] w-[60%] rounded-[1vw] py-8 px-8;
}
.single-project-page:has(.Wordpress){
    @apply !h-[85%];
}

@media only screen and (min-width: 1024px){
    .single-project-page:has(.Wordpress .relative.group:nth-child(6)){
        @apply !h-[auto];
    }
}
@media only screen and (min-width: 576px) and (max-width: 1024px) {
    .single-project-page{
        @apply h-[100%];
    }
    .single-project-content > .row{
        @apply  w-[90%] ;
    }
}
@media only screen and (max-width: 1024px){
    .project-title{
        @apply text-[4rem] ;
    }
    .button-template-single{
        @apply text-[3rem] !px-6 !py-5;
    }
    .row.Wordpress{
        p.text-white.text-sm.font-medium{
            font-size: 2.3rem;
            padding-bottom: 2rem;
        }
        .grid.grid-cols-2{
            gap: 2rem !important;
            width: 95% !important;
        }

    }
}
@media only screen and (max-width: 576px) {
    .single-project-page{
        @apply h-[84%];
    }
    .single-project-content > .row{
        @apply  w-[90%] py-16;
    }
}